.container {
    column-count: 3; /* Adjust the number of columns based on screen size */
    column-gap: 10px; 
    padding: 20px;
  }
  
  .imageItem {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px; /* Space between images within the column */
  }
  
  .imageItem img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 16px;
  }

  @media (max-width: 1200px) {
    .container {
      column-count: 3;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      column-count: 2;
    }
  }